table
{
	border: 2px solid red;
	border-radius: 10px;
	width: 300px;
	text-align: center;
}
tr,td,th
{
	color:green;
	border: 1px dashed black;
	border-radius: 10px;
}
th,td:first-child
{
	background-color: #ccc;
}		
h1
{
	font-size: 48px;
	color: blue;
	text-align: center;
	border: 2px solid black;
}
body
{
	background-color: #ddd;
}
header
{
	text-align: center;
	margin-bottom: 20px;
	

}
header img
{
	width: 70%;
	height: 150px;

	
}
footer
{
	font-size: 15px;
	text-align: right;
	color: #aaa;
	border: 1px dashed #aaa;			

}